.wrapper {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: fixed;
    background-color: #00000080;
    z-index: 9999;
}

.container {
    position: relative;
    background-color: #fff;
    padding-top: 46px;
    border-radius: 8px;
    animation: fadeIn ease-in-out 0.4s forwards;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
@keyframes fadeIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(100%);
        opacity: 100%;
    }
}

.content {
    min-width: 480px;
    max-height: 550px;
    height: 480px;
    overflow: overlay;
}

.content::-webkit-scrollbar-thumb {
    background-color: #1618230f;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.icon-close {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 100%;
    color: #000;
    background-color: #16182308;
    display: flex;
    padding: 6px;

    &:hover {
        cursor: pointer;
        background-color: #1618231e;
    }
}
.icon-back {
    position: absolute;
    left: 20px;
    color: #000;
    cursor: pointer;
    top: 20px;
    padding: 6px;
}
.wrap-action {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    margin-bottom: 10px;

    .icon {
        position: absolute;
        left: 8px;
        bottom: 5px;
    }

    Button {
        position: relative;
        width: 375px;
        height: 44px;
        font-weight: 600;
        border-radius: 4px;
    }
    p {
        font-size: 14px;
        font-weight: 600;
        color: var(--text-color);
    }
}

.show-more {
    transform: rotate(-90deg);
    position: absolute;
    right: 50%;
    bottom: -30px;
    cursor: pointer;
}
.policy-confirm {
    font-size: 12px;
    line-height: 14px;
    color: #16182380;
    position: absolute;
    bottom: 64px;
    padding: 16px 44px;
    text-align: center;

    i {
        font-weight: 400;
        color: #000000b7;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.footer {
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: center;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    font-size: 15px;
    line-height: 18px;
    color: #161823;

    .nav {
        margin-left: 5px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: var(--primary);
        cursor: pointer;
    }
}
