.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    margin-left: 14px;
    color: #161823;

    strong {
        color: #161823bf;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 8px;
    }
}

.btn-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(22, 24, 35, 0.06);
    transition: all ease-in-out 200ms;
}
.icons {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.active {
    transition: all 200ms ease-in-out 0s;
    color: #ff3e00;
}

////render tippy
.wrap-items {
    border-radius: 6px;
    background-color: #fff;
}
