.search,
.search-result {
  width: 361px;
}
.search {
  position: relative;
  display: flex;
  height: var(--search-height);
  padding-left: 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    color: var(--text-color);
    font-size: 1.6rem;
    caret-color: var(--primary);
    background-color: transparent;
    padding-right: 40px;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-bottom-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.loading {
  animation: spiner 1s linear infinite;
}

@keyframes spiner {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  width: var(--search-bottom-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  padding: 11px 16px 11px 12px;
  color: #a6a7ac;
  font-size: 1.6rem;
  font-weight: 300;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-bottom-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
